<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <br />
  <p>Splurty was built by Sean Cook for the UC Berkeley Full Stack Engineering course
  </p>
  <br />

  <p> Sean should add more content but he's too busy too right now so will come back to this
  </p>


</div>