<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Check these <u>killer</u> lyrics out:
</h2>
<br />
<br />

<h1><%= @quote.saying %>
<h2>- <%= @quote.author %></h2>  

<br class="clear" />
<br />
<br />
<br />